body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.red {
  color: red;
}

.picker {
  margin-top: 200px;
}

.spacer {
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
}
